{{#section 'head'}}
<title>{{settings.siteTitle}}</title>
<meta name="description" content="{{settings.siteDescription}}">
{{/section}}

{{> navigation}}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('public/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{settings.siteTitle}}</h1>
                    <hr class="small">
                    <span class="subheading">{{settings.siteDescription}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{#each articles}}
            <div class="post-preview">
                <a href="/{{slug}}">
                    <h2 class="post-title">
                        {{title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{{shorten content}}}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="/about">{{author.displayName}}</a> on {{createdDate}}</p>
            </div>
            <hr>
            {{/each}}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Man must explore, and this is exploration at its greatest
                    </h2>
                    <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 24, 2014</p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

{{> footer}}