{{#section 'head'}}
<!-- DataTables -->
<link rel="stylesheet" href="/admin/plugins/datatables/dataTables.bootstrap.css">
{{/section}}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{lang.allArticles.pageTitle}}</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="articles" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                          <th>{{lang.allArticles.articlesTable.title}}</th>
                          <th>{{lang.allArticles.articlesTable.author}}</th>
                          <th>{{lang.allArticles.articlesTable.tags}}</th>
                          <th>{{lang.allArticles.articlesTable.createdDate}}</th>
                          <th>{{lang.allArticles.articlesTable.state.title}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each articles}}
                        <tr>
                          <td>
                            {{title}}
                            <a href="/admin/articles/{{id}}" class="btn btn-default fa fa-pencil pull-right edit" data-id="{{id}}"></a>
                          </td>
                          <td>{{author.displayName}}</td>
                          <td>{{tags}}</td>
                          <td>{{createdDate}}</td>
                          <td>{{#ifeq state "draft"}}
                            {{../lang.allArticles.articlesTable.state.draft}}
                          {{else}}
                            {{../lang.allArticles.articlesTable.state.published}}
                          {{/ifeq}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                          <th>{{lang.allArticles.articlesTable.title}}</th>
                          <th>{{lang.allArticles.articlesTable.author}}</th>
                          <th>{{lang.allArticles.articlesTable.tags}}</th>
                          <th>{{lang.allArticles.articlesTable.createdDate}}</th>
                          <th>{{lang.allArticles.articlesTable.state.title}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

{{#section 'scripts'}}
<!-- DataTables -->
<script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#articles').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        });
    });

    // $(document).ready(function() {
    //     $('.edit').click(function(e) {
    //         console.log($(this).attr('data-id'));
    //         $.ajax({
    //             url: '/admin/articles/edit/' + $(this).attr('data-id'),
    //             type: 'get'
    //             // data: JSON.stringify({id: $(this).attr('data-id')})
    //         });
    //     });
    // });
</script>
{{/section}}