{{#section 'head'}}
<link rel="stylesheet" href="/admin/plugins/tagit/jquery.tagit.css">
{{/section}}

<div class="row">
    {{!-- input pluged in TinyMCE, responsible for updating images --}}
    {{!-- without living the editor --}}
    <input name="image" type="file" id="filePicker" hidden class="hidden">
    {{!-- stores the field inside the iframe --}}
    <input type="text" id="filePickerField" hidden class="hidden">

    <form method="post" action="/admin/articles/edit">
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">{{lang.newArticle.pageTitle}}</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body pad">
                    <input type="text" id="id" name="id" value="{{article.id}}" hidden>
                    <div class="form-group">
                        <label for="title">{{lang.newArticle.articlesForm.title}}</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{article.title}}">
                    </div>
                    <div class="form-group">
                        <label for="content">{{lang.newArticle.articlesForm.content}}</label>
                        <textarea id="content" name="content">{{article.content}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">{{lang.newArticle.articlesForm.properties}}</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="slug">Slug </label><small> {{lang.newArticle.articlesForm.slugSnippet}}</small>
                        <input type="text" class="form-control" id="slug" name="slug" value="{{article.slug}}">
                    </div>
                    <div class="form-group">
                        <label for="author">{{lang.newArticle.articlesForm.author}}</label>
                        <input type="text" name="author" value="{{article.author.id}}" hidden>
                        <input type="text" class="form-control" value="{{article.author.displayName}}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="state">{{lang.newArticle.articlesForm.state.title}}</label>
                        <select class="form-control" id="state" name="state">
                            <option value="draft" {{#ifeq article.state "draft"}}
                            selected
                            {{else}}{{/ifeq}}>{{lang.newArticle.articlesForm.state.draft}}</option>
                            <option value="published"{{#ifeq article.state "published"}}
                            selected
                            {{else}}{{/ifeq}}>{{lang.newArticle.articlesForm.state.published}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tags">{{lang.newArticle.articlesForm.tags}}</label>
                        <input type="text" class="form-control hidden" id="tags" name="tags" value="{{article.tags}}" hidden>
                        <ul id="singleFieldTags"></ul>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><span class="fa fa-trash"></span> {{lang.newArticle.articlesForm.deleteBtn}}</button>
                        <button type="submit" id="sendBtn" class="btn btn-primary pull-right">{{lang.newArticle.articlesForm.postBtn}}</button>
                    </div><!-- /.box-footer -->
                
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">SEO</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="metaTitle">Meta title</label>
                        <input type="text" class="form-control" id="metaTitle" name="metaTitle" value="{{article.metaTitle}}">
                    </div>
                    <div class="form-group">
                        <label for="metaDescription">Meta description</label>
                        <textarea class="form-control" id="metaDescription" name="metaDescription">{{article.metaDescription}}</textarea>
                    </div>
                
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal modal-danger" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{lang.newArticle.articlesForm.deleteBtn}}</h4>
            </div>
            <div class="modal-body">
                <p>{{lang.newArticle.articlesForm.deleteConfirmation}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{lang.newArticle.articlesForm.cancelBtn}}</button>
                <button type="button" class="btn btn-outline" id="deleteBtn">{{lang.newArticle.articlesForm.deleteBtn}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{#section 'scripts'}}
<script src="/admin/js/slug-browser.js"></script>
<script src='/admin/components/tinymce/tinymce.min.js'></script>
<script src='/admin/components/jquery-ui/jquery-ui.min.js'></script>
<script src='/admin/plugins/tagit/tag-it.min.js'></script>

<script>
    tinymce.init({
        selector: '#content',
        statusbar: false, // it doesn't matter the name of the elements I'm in
        menubar: false, // the same options that are already in the toolbar
        element_path: false,
        plugins: 'image imagetools',
        height: 400,
        {{#ifeq lang.locale "en_US"}}
        {{else}}
        language: '{{lang.locale}}',
        language_url: '/admin/plugins/tinymce/langs/{{lang.locale}}.js',
        {{/ifeq}}
        images_upload_url: '/admin/gallery',
        images_upload_base_path: '/admin/',
        file_browser_callback: function(field_name, url, type, win) {
            if (type === 'image') {
                // the simulated click opens the system's file browser
                $('#filePicker').click();
                // sets the actual field_name to the hidden input
                document.getElementById('filePickerField').value = field_name;
            }
        },
        setup: function(editor) {
            editor.on('init', function(e) {
                // remove a hard coded hint
                document.querySelector('#content_ifr').title = '';
            });
        }
    });

    $(document).ready(function() {
        $('#sendBtn').click(function(e) {
            e.preventDefault();
            // before sending the form, make shure that all images have already
            // been saved
            tinymce.activeEditor.uploadImages(function(success) {

                document.forms[0].submit();
            });
        });

        $('#deleteBtn').click(function(e) {
            $.ajax({
                url: '/admin/articles/delete',
                method: 'post',
                data: {id: document.getElementById('id').value},
                success: function() {
                    window.location.pathname = '/admin/articles';
                }
            });
        });

        // when user picks a file
        $('#filePicker').change(function(e) {
            // create a new form
            var form = new FormData();
            // add the image
            form.append('image', document.getElementById('filePicker').files[0]);

            // post
            $.ajax({
                url: '/admin/gallery',
                method: 'post',
                data: form,
                processData: false,
                contentType: false,
                success: function(data) {
                    // get the value from the hidden input and update the real field
                    document.getElementById(document.getElementById('filePickerField').value).value = data.location;
                }
            });
        });

        $('#singleFieldTags').tagit({
            // This will make Tag-it submit a single form value, as a comma-delimited field.
            singleField: true,
            singleFieldNode: $('#tags')
        });

    });
  </script>

{{/section}}