<div class="row">
    <form method="post" action="/admin/users/new">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">{{lang.newUser.pageTitle}}</h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body pad">
                    <div class="form-group">
                        <label for="username">{{lang.newUser.usersForm.username}}</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">{{lang.newUser.usersForm.password}}</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="displayName">{{lang.newUser.usersForm.displayName}}</label>
                        <input type="text" class="form-control" id="displayName" name="displayName">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="admin" value="admin">{{lang.newUser.usersForm.admin}}
                        </label>
                    </div>
                </div>
                <div class="box-footer">
                    <a href="/admin/users" class="btn btn-default">{{lang.newUser.usersForm.cancelBtn}}</a>
                    <button type="submit" id="sendBtn" class="btn btn-primary pull-right">{{lang.newUser.usersForm.saveBtn}}</button>
                </div><!-- /.box-footer -->
            </div>
        </div>
    </form>
</div>